body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    width: 50%;
    margin: 50px auto;
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
}

input, textarea {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

.hidden {
    display: none;
}

#resumeTemplate {
    margin-top: 20px;
}

#resumeContent {
    background: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.resume-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    background-color: black;
    color: white;
    border-radius: 10px;
    padding: 10px;
}

.resume-header .left {
    flex: 1;
}

.resume-header .right {
    flex: 1;
    text-align: right;
}

.resume-header img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 3px solid red;
}

.resume-details {
    margin-top: 20px;
}

.resume-details h4 {
    margin-bottom: 10px;
}